/* handle funny busines */

html {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
:root
body
html {
  background-color: rebeccapurple;
  box-sizing: border-box;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
  outline: none;
  text-decoration: none;
  font-size:100%;
  background-color: transparent;
  margin: 0;
  padding:0;
  border: 0;
}
body {
  box-sizing: border-box;
  font-family: Arial sans-serif;
  margin: 0;
  padding:0;
  }